.business-sheet{
    .card-top{
        background: #1f2041;
        border-color: #1f2041;
        height: 120px;
    }
    .card.business{
        min-height: 200px;
    }
    .wrapper-img-business{
        width: 100px;
        height: 70px;
        position: relative;
    }
    .content-img-business{
        position: absolute;
        top:-85px;
        border: 3px solid #F4F4F5;
        border-radius: 15px;
        background-color: lightgray;
        height: 125px;
        width: 125px;

    }
    .img-business{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    .card.busness .card-body.pxmax-4{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .opportunities-linked ul li,.collegues ul.list-collegues>li{
        border-bottom: 1px solid rgba(0,0,0,.3);
    }
    .opportunities-linked ul li:last-child, .collegues ul li:last-child{
        border-bottom: none;
    }
    .collegues-img{
        width: 50px;
        height: 50px;
    }
    .collegues-img img{
        width: 100%;
    }
    .themed-button .icon-search{
        color: #ffffff;
    }
    .g-maps{
        width: 100%;
        height: 240px;
    }
    .g-maps iframe{
        width: 100%;
        height: 100%;
    }
    .contact-information-business .col-6 .card{
        min-height: 300px;
    }
    table.table-bordered th{width: 30%;}
    .text-decoration{text-decoration: underline !important;}
}