server {
    listen 80;
    server_name oliversales.aivoni.company;
    charset utf-8;
    root /var/www/oliversales.aivoni.company/dist;
    index index.html;

    #ssl_certificate /etc/letsencrypt/live/oliversales.aivoni.company/fullchain.pem;
    #ssl_certificate_key /etc/letsencrypt/live/oliversales.aivoni.company/privkey.pem;

    #return 301 https://$server_name$request_uri;

    # Always serve index.html for any request
    location / {
        root /var/www/oliversales.aivoni.company/dist;
        try_files $uri /index.html;
    }

    error_log  /var/log/nginx/oliversales-error.log;
    access_log /var/log/nginx/oliversales-access.log;
}