.lineCard{
    height: 2px;
    width: 100%;
    background-color: $color01;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    
}
.chInfo {
    min-height: 400px;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
}
.chItems{
     display: flex;
     justify-content: space-between;
}

