$color01:#f4f4f5;
$color02:#1f2041;
$color03:#13143a;
$color04:#1cd369;
$color05:#8f8fa0;
$color06:#009df4;
$color07:#4D4DEB;

$themedColorUser: #5155EA;
$themedColor: #443CEC;
$themedColorHover: #211da3;
$themedColorHoverRGBA: rgba(68, 60, 236,.5);
$busyColor: #ff943a;
$busyColorHover: #fd7e14;
$busyColorHoverRGBA: rgba(216, 102, 8, 0.5);
$reanalyzeColor: #00bf24;
$reanalyzeColorHover: #01a01f;
$reanalyzeColorHoverRGBA: rgba(0, 191, 36,.5);
