.viewBilling{
    .vBilling{
        thead{
            background-color:#4944eb;
            color:#ffffff;
        }
        table{
            border: 1px solid rgba(0, 0, 0, 0.125);
        }
    }
}